/**
*
* {{ properCase name }}Abstract
*
*/

import React from 'react';
// import styled from 'styled-components';

export default class {{ properCase name }}Abstract extends {{{ type }}} { // eslint-disable-line react/prefer-stateless-function
  render() {
    return null;
  }
}

{{ properCase name }}Abstract.propTypes = {

};
