/**
*
* {{ properCase name }}
*
*/

import React from 'react';
import {{ properCase name }}Component from './{{ properCase name }}Component';
// import styled from 'styled-components';

{{#if wantMessages}}
import { FormattedMessage } from 'react-intl';
import messages from './messages';
{{/if}}

class {{ properCase name }} extends {{{ type }}} { // eslint-disable-line react/prefer-stateless-function
  render() {
    return (
      <{{ properCase name }}Component {...this.props} />
    );
  }
}

{{ properCase name }}.propTypes = {

};

export default {{ properCase name }};
