/**
*
* {{ properCase name }}Component
*
*/

import React from 'react';
import { View, Text } from 'react-native';
import {{ properCase name }}Abstract from './{{ properCase name }}Abstract';
// import styled from 'styled-components';


class {{ properCase name }}Component extends {{ properCase name }}Abstract { // eslint-disable-line react/prefer-stateless-function
  render() {
    return (
      <View><Text>This is {{ properCase name }} Component</Text></View>
    );
  }
}

{{ properCase name }}Component.propTypes = {

};

export default {{ properCase name }}Component;
