.__react_component_tooltip.type-light.border.place-l:before{
    border-bottom:8px solid #e0e0e0 ;
} 
.customeTheme {
    font-weight: bold;
      border: 1px solid #e0e0e0 !important;
      background-color: #e0e0e0 !important;
      color: #000 !important;
   }